# Virtual Environment
venv/

# Django stuff
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal

# Static files
/static/

# Media files
/media/

# IDE files
.vscode/
.idea/

# Environment variables - NEVER commit this file!
.env